.git
.gitignore
__pycache__/
.pytest_cache
.mypy_cache
*.pyc
*.pyo
*.pyd
*.db
node_modules/
npm-debug.log
yarn-error.log
.vscode
.DS_Store
.env
.env.local
.env.*.local
.venv
venv
build/
dist/
*.egg-info
*.md
*.log
.coverage
.vscode
.idea
*.swp
*.swo
